@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #40280A, #6c481c);
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0d0800bb;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #40280A;
    text-align: center;
    text-shadow: 1px 1px 2px #0d0800bb;
}

h2 {
    color: #A67C49;
}

p {
    text-align: justify;
}